body{
    background-image: url(./source/bananas.png);

}
h1{
    background-image: url(./source/IMG_3837.GIF);
    text-align: center;
    font-family: 'IM Fell Great Primer SC', serif;
    color: rgb(71, 56, 55);
    font-size: 60px;
    padding: 100px;
    font-weight: bolder;
}

.row{
    margin-top: 10px;
}
hr{
    height: 10px;
    background: rgb(71, 56, 55);
    border: 1;
}

  